[submodule "3rdparty/spectra"]
	path = 3rdparty/spectra
	url = https://github.com/yixuan/spectra.git
[submodule "3rdparty/plog.git"]
	path = 3rdparty/plog
	url = https://github.com/SergiusTheBest/plog.git
